[submodule "src/robomaster_sim"]
	path = src/robomaster_sim
	url = git@github.com:jeguzzi/robomaster_sim.git

[submodule "src/robomaster_ros"]
	path = src/robomaster_ros
	url = git@github.com:jeguzzi/robomaster_ros.git
